label {
    /*
    Replace "inherit" with your favorite color
  */
    color: inherit;
}

#logo {
    animation-name: breathing;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes breathing {
    0% {
        -gtk-icon-transform: scale(0.9);
    }

    25% {
        -gtk-icon-transform: scale(1);
    }

    60% {
        -gtk-icon-transform: scale(0.9);
    }

    100% {
        -gtk-icon-transform: scale(0.9);
    }
}

.current-segment {
    background-color: alpha(@accent_bg_color, 0.25);
}

.italic {
    font-style: italic;
}

.timer {
    font-family: var(--monospace-font-family);
}

.active-timer {
    color: #33d17a;
}

.inactive-timer {
    color: #888888;
}

.redsplit {
    color: #ed333b;
}

.gainedredsplit {
    color: #f66151;
}

.greensplit {
    color: #33d17a;
}

.lostgreensplit {
    color: #26a269;
}

.goldsplit {
    color: #e5a50a;
}

.bigtimer {
    font-size: 36px;
}

.smalltimer {
    font-size: 18px;
}
