label {
    /*
    Replace "inherit" with your favorite color
  */
    color: inherit;
}

.no-transition,
.no-transition * {
    transition: none;
    transition-duration: 0s;
    animation: none;
}

.current-segment {
    background-color: alpha(@accent_bg_color, 0.25);
}

.italic {
    font-style: italic;
}

.timer {
    font-family: var(--monospace-font-family);
}

.active-timer {
    color: #33d17a;
}

.inactive-timer {
    color: #888888;
}

.redsplit {
    color: #ed333b;
}

.gainedredsplit {
    color: #f66151;
}

.greensplit {
    color: #33d17a;
}

.lostgreensplit {
    color: #26a269;
}

.goldsplit {
    color: #e5a50a;
}

.bigtimer {
    font-size: 36px;
}

.smalltimer {
    font-size: 18px;
}
